body{
    
    background-color: grey;
    
    
    }

#score-card{
    order: 1;
    position: relative;
    
}

#score{
    order: 2;
    
    
    background-color: honeydew;
    
    position: relative;
    
}

.control{
    display:grid;
    grid-template-columns: repeat minmax(75px, 200px);
    grid-column:3/4;
    


}
.control button{
    border-radius: 15px;
    gap: 10px;
    height:50px;
    
   
}
.rotateBtn{
    grid-column: 1/3;
    color: white;
    background: blue;
}
.downBtn{
    grid-column: 1/3;
    color: white;
    background: blue;
}
/*not showing correctly last time. . . maybe this time*/
.scoreContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    border-radius: 15px;
    background: white;
    
}

.grid{
    
    margin:auto 20px;
    position: relative;
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: brown;
    grid-column: 1/2;
    
    
  }

 .etc{
     grid-column: 3/4;
     
 }
.score-box{
    justify-content: center;
    height:30px;
    align-items:center;
    align-content: center;
    text-align: center;
    margin-top: 10px;
    
    
    
}
#start-button{
    position: relative;
    order: 3;
    color: white;
    background-color: blue;
    font-family: fantasy;
    height: 50px;    
    border-radius: 15px;
}
.grid div{
    position: inherit;
    height: 20px;
    width: 20px;
    outline: inset;
    outline-offset: -2px;
    
}



.tetromino{
    background-color: wheat;
    outline: inset;
    outline-offset: -2.5px;
    flex-wrap: nowrap;
    
    
    
}

.mini-grid{
    justify-content: center;
     
    
   margin: auto;
   border-radius: 15px;
   padding: 0px 0px 40px 20px;
    display: flex;
    height: 100px;
    width: 100px;
    flex-wrap: wrap-reverse;
    background-color: brown;
    
}

.mini-grid div{
    align-self: center;
   justify-content: center;
     height: 25px;
    width: 25px;
    position: relative;
    margin: 0;
   
}

.container{
    width:100vw;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr, 1fr;  
    margin-top: 20px;

}

.hide{
    visibility: hidden;
}